.footer-container {
    background-color: #02040A;
    width: 100%;
    padding: 2rem 1rem;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #30363d;
}

.footer-text {
    color: #F0F6FC;
    font-size: 16px;
    margin: 0;
    font-family: Arial, sans-serif;
    letter-spacing: 0.5px;
}

.heart {
    color: #ff2e63;
    font-size: 25px;
    animation: heartbeat 1.5s ease-in-out infinite;
    display: inline-block;
    margin: 0 8px;
    line-height: 1;
    vertical-align: middle;
    font-weight: bold;
    font-family: 'Arial', 'Helvetica', sans-serif;
}

@keyframes heartbeat {

    0%,
    100% {
        transform: scale(1);
    }

    25% {
        transform: scale(1.3);
    }

    50% {
        transform: scale(1);
    }
}

@media (max-width: 768px) {
    .footer-container {
        padding: 1.5rem 1rem;
    }

    .footer-text {
        font-size: 14px;
    }
}