.profile-container-class {
    /* border: 1px solid white; */
    height: 100vh;
    display: flex;
    flex: 5;
    flex-direction: column;
    margin: auto;
    text-align: center;
    font-family: Arial, sans-serif;
    padding: 20px;
    padding-top: 5rem;
}

.profile-image {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    /* border: 0.1px solid white; */
    align-self: center;
    border-bottom: 0.1px solid lightgrey;
}

.profile-name {
    font-size: 30px;
    font-weight: bold;
    margin-top: 1rem;
    color: #F0F6FC;
}

.profile-quote {
    font-size: 18px;
    margin-bottom: 20px;
    color: lightgrey;
    font-style: italic;
}

.profile-bio {
    font-size: 18px;
    margin-bottom: 20px;
    color: whitesmoke;
}


.contact-icons {
    display: flex;
    justify-content: center;
    /* Centers the icons horizontally */
    align-items: center;
    /* Ensures vertical alignment */
    gap: 60px;
    /* Adjusts spacing between icons */
    margin-top: 1rem;
}

.contact-icons a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color: white;
}